@model List<GetByCategoryIdProductResponse>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">


        @foreach (var item in Model)
        {
            <div class="col-6">
                <div class="card">

                    <h2 class="card-title">@item.Title</h2>
                    <img class="card-img-top" src="/img/pexels-math-90946.jpg" /> <!--Absolute yetiyor-->
                    <div class="card-body">
                        <p>
                            @item.Description
                        </p>
                    </div>
                </div>
            </div>
        }


    </div>
</div>