
@{
    ViewData["Title"] = "Kullanıcı Oluştur";
}
@model CreateCustomerRequest
<form asp-action="AddOrder" method="post">
    <input type="text" asp-for="@Model.Firstname" value="" />
    <input type="text" asp-for="@Model.LastName" value="" />
    <input type="text" asp-for="@Model.Email" value="" />
    <input type="text" asp-for="@Model.Password" value="" />
</form>