
@{
    ViewData["Title"] = "Giriş Yapınız:";
}
@model GetByEmailPasswordCustomerStatusRequest
<form asp-action="Login" method="post">
    <!--   <input type="text" asp-for="Model.Firstname" value="" />
       <input type="text" asp-for="Model.LastName" value="" /> -->
    <input type="text" asp-for="Email" value="" />
    <input type="text" asp-for="Password" value="" />
</form>