@model  List<GetCategoryResponse>


<ul class="list-group">
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            <a asp-action="GetByCategoryId" asp-controller="Home"  asp-route-CategoryId="@item.Id">@item.Title</a>  
        </li>
    }
</ul>

