@model  List<GetCategoryResponse>


<ul class="list-group">
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            <a asp-action="GetCategoryId" asp-controller="Home" asp-route-categoryId="@item.Id">@item.Title</a>  
        </li>
    }
</ul>

