@{
    ViewData["Title"] = "Sipariş Oluştur";
}
@model CreateOrderRequest
<form asp-action="AddOrder"  method="post">

    <input type="text" name="@Model.Name" value="" />
    <input type="text" name="@Model.SurName" value="" />
    <input type="text" name="@Model.PhoneNumber" value="" />
    <input type="text" name="@Model.Adress" value="" />
</form>